<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ToDo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if( o.webpack.assetsByChunkName.main instanceof Array ) {
         var a = o.webpack.assetsByChunkName.main;
         for( var i = 0; i < a.length; i++ ) {
            if( a[i].slice(-3) === 'css' ) { %}
      <link rel="stylesheet" type="text/css" href="/{%= a[i] %}">
    {% }}} %}
  </head>
  <body>
    <div id="app"></div>

    {% if( o.webpack.assetsByChunkName.main instanceof Array ) { %}
    <script src="/{%= o.webpack.assetsByChunkName.main[0] %}"></script>
    {% } else { %}
    <script src="/{%= o.webpack.assetsByChunkName.main %}"></script>
    {% } %}
  </body>
</html>
